@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Montserrat Alternates', sans-serif;
	}
	body{
		background:rgb(36, 118, 241);
		background-size: 100vw 100vh;
		background-repeat: no-repeat;
	}
	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.6);
		z-index: -1;
		top: 0;left: 0;
	}

	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: #ffffff;
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: #ff4800fb;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
		position: fixed;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.img1{
		width: 200px;
		height: 160px;
	}

	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #ffffff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid rgb(241, 118, 36);
		padding-bottom: 5px;
		color:rgb(241, 118, 36);

	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}

	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid rgb(241, 118, 36);
		background: #1f1f1f;
		color:rgb(241, 118, 36);
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/
	.carousel {
		
		width: 100%;
		height: 400px;
		margin: 100px auto; /* Ajuste para no solaparse con el header */
		overflow: hidden;
	}
	
	.carousel-images {
		display: flex;
		
		transition: transform 0.5s ease-in-out;
	}
	
	.carousel-images img {
		 width: 100%;
 		 height: 100%;
 		 object-fit: contain; /* Esto asegura que la imagen se vea completa sin perder proporciones */
  		 object-position: center; /* Centra la imagen si no llena completamente el contenedor */
  		 min-width: 100%; /* Asegura que la imagen nunca sea más pequeña que el contenedor */
 		 min-height: 100%; /* Asegura que la imagen no sea más pequeña en altura */
	}
	
	button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(0, 0, 0, 0.5);
		border: none;
		color: white;
		font-size: 24px;
		padding: 10px;
		cursor: pointer;
		z-index: 10;
	}
	
	.prev {
		left: 10px;
	}
	
	.next {
		right: 10px;
	}
	
	@media (max-width: 600px) {
		button {
			font-size: 20px;
			padding: 8px;
		}
	}
	#btn-menu:checked ~ .carousel{
		opacity: 1;
		visibility: hidden;
	}